<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>5</string>
					<key>StartingColumnNumber</key>
					<string>40</string>
					<key>StartingLineNumber</key>
					<string>4</string>
					<key>Timestamp</key>
					<string>725020832.128613</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>day_1/input.txt</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>fives2dznl
twocrqvjsix5threethree
gtjtwonefourone6fouronefccmnpbpeightnine</string>
				<key>trailing</key>
				<string>seventdtrcseveneightsevencgjgjxfpmfsix8twones
fourthreeseven1grvhrjxklh3ninetwothree
fourninethrnnth8
</string>
			</dict>
			<key>title</key>
			<string>el two y el one comparten una letra</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
